.accordie {
}

.panel {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  border-top-width: 0;
  &:first-child {
    border-top-width: 1px;
  }
  &.open {
    .heading {
      background-color: #555;
      border-bottom-color: #fff;
    }
  }
  &.close {
  }
}

.heading {
  padding: 10px 15px;
  transition: all .15s ease-in-out;
  border-bottom: 1px solid transparent;
}

.content {
  overflow: hidden;
  transition: all .15s ease-in-out;

  >div {
    padding: 10px 15px;
  }
}
